name: Tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  tests:
    name: Tox ${{ matrix.session }} session on Python ${{ matrix.python-version }}
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        include:
          - { python-version: "3.11", session: "black" }
          - { python-version: "3.11", session: "flake8" }
          - { python-version: "3.11", session: "mypy" }
          - { python-version: "3.11", session: "isort" }
          - { python-version: "3.12", session: "py312" }
          - { python-version: "3.11", session: "py311" }
          - { python-version: "3.10", session: "py310" }
          - { python-version: "3.9",  session: "py39" }

    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tox
        run: |
          pip install tox
          tox -e ${{ matrix.session }}
